## MYSQL DATABASE

### inside a venv :
## pip install ipykernel 
## python -m ipykernel install --user --name=myenv --display-name="myenv"

In [3]:
import mysql.connector as connector

mydb = connector.connect(
    host = 'localhost',
    user = 'root',
    password = 'SysAdmin#789',
    port = 3306
)

print('connected to database: ',mydb)

cursor = mydb.cursor()
query = """create database if not exists test_db"""
cursor.execute(query)
mydb.commit()
# result = cursor.execute('SHOW DATABASES')
# result = cursor.fetchall()
# print(result)

connected to database:  <mysql.connector.connection_cext.CMySQLConnection object at 0x0000022C1F093E90>

In [6]:
# create database if not exists test_db
# create table if not exists test_db.users (id int primary key auto_increment, name varchar(255), age int)
# insert into test_db.users (name, age) values ('John Doe', 30)
query = """use test_db"""
cursor.execute(query)
query = """create table if not exists test_db.users (
    id int primary key ,
    name varchar(255),
    age int
)"""
cursor.execute(query)
mydb.commit()

In [11]:
query = """use test_db"""
cursor.execute(query)
query = """insert into test_db.users (id, name, age) values 
(5, 'bade bhai', 90),
(2, 'babu bhai', 60),
(3, 'chotu don', 50),
(4, 'sarkari babu', 40)
"""
cursor.execute(query)
mydb.commit()

In [12]:
query = """ select * from users"""
cursor.execute(query)
result = cursor.fetchall()
for row in result:
    print(row)

(1, 'John Doe', 30)
(2, 'babu bhai', 60)
(3, 'chotu don', 50)
(4, 'sarkari babu', 40)
(5, 'bade bhai', 90)

In [19]:
# Make sure to fetch all previous results before executing a new query

query = """ select count(*) from users"""
cursor.execute(query)
result = cursor.fetchall()
for row in result:
    print(row)

(5,)